################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/src/x64/Debug/vc141.pdb
/src/x64/Debug/vc141.idb
/src/x64/Debug/src.tlog/src.lastbuildstate
/src/x64/Debug/src.tlog/link.write.1.tlog
/src/x64/Debug/src.tlog/link.read.1.tlog
/src/x64/Debug/src.tlog/link.command.1.tlog
/src/x64/Debug/src.tlog/CL.write.1.tlog
/src/x64/Debug/src.tlog/CL.read.1.tlog
/src/x64/Debug/src.tlog/CL.command.1.tlog
/src/x64/Debug/src.tlog
/src/x64/Debug/src.log
/src/x64/Debug/pch.obj
/src/x64/Debug/Main.obj
/src/Debug/vc141.pdb
/src/Debug/vc141.idb
/src/Debug/src.tlog/src.lastbuildstate
/src/Debug/src.tlog/link.write.1.tlog
/src/Debug/src.tlog/link.read.1.tlog
/src/Debug/src.tlog/link.command.1.tlog
/src/Debug/src.tlog/CL.write.1.tlog
/src/Debug/src.tlog/CL.read.1.tlog
/src/Debug/src.tlog/CL.command.1.tlog
/src/Debug/src.tlog
/src/Debug/src.pdb
/src/Debug/src.log
/src/Debug/src.ilk
/src/Debug/src.exe
/src/Debug/pch.obj
/src/Debug/Main.obj
/src/.vs/src/v15/ipch/AutoPCH/e903c149a86fb339/MAIN.ipch
/src/.vs/src/v15/ipch/AutoPCH/e903c149a86fb339
/src/.vs/src/v15/ipch/AutoPCH/7fe818b1b0ca26f9/PCH.ipch
/src/.vs/src/v15/ipch/AutoPCH/7fe818b1b0ca26f9
/src/.vs/src/v15/ipch/AutoPCH
/src/.vs/src/v15/Browse.VC.db
/src/.vs/src/v15/.suo
/src/.vs/src/v15
/.vs/src/v15/ipch/AutoPCH/b626cd1f493be39a/PCH.ipch
/.vs/src/v15/ipch/AutoPCH/b626cd1f493be39a
/.vs/src/v15/ipch/AutoPCH/51d6df659108d572/MAIN.ipch
/.vs/src/v15/ipch/AutoPCH/51d6df659108d572
/.vs/src/v15/ipch/AutoPCH
/.vs/src/v15/Browse.VC.db
/.vs/src/v15/.suo
/.vs/src/v15
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/image-browser/v15/Browse.VC.opendb
/.vs/image-browser/v15/Browse.VC.db
/.vs/image-browser/v15/.suo
/.vs/image-browser/v15
/.vs
/x64/Debug/src.pdb
/x64/Debug/src.ilk
/x64/Debug/src.exe
